<div id="recipe-form" class="my-4 w-50">
  <%= form_with(model: recipe) do |form| %>
    <% if recipe.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="form-image" class="my-4">
      <% if recipe.cover_image.present? %>
        <div id="<%= dom_id(recipe, :cover_image) %>">
          <%= image_tag recipe.cover_image, {class: "img-fluid", style: "max-width: 20%;"} %><br>
          <%= link_to "Remove image", recipe_cover_image_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
      <%= form.file_field :cover_image %>
    </div>

    <div id="form-title" class="my-4">
      <%= form.label :title, { style: "display: block" } %>
      <%= form.text_field :title, { class: "form-control" } %>
    </div>

    <div id="form-description" class="my-4">
      <%= form.label :description, { style: "display: block" } %>
      <%= form.text_area :description, { class: "form-control" } %>
    </div>

    <div id="form-servings" class="my-4 w-25">
      <%= form.label :servings, { style: "display: block" } %>
      <%= form.text_field :servings, { class: "form-control" } %>
    </div>

    <div id="form-ingredients" class="my-4">
      <div id="ingredient-container" class="container">
        <%= form.label :ingredients, id: "ingredient-section-label", style: "display:block" %>
        <% first_row = true %>
        <%= form.fields_for :ingredients do |ingredient_form| %>
          <%= render "ingredient_fields", f: ingredient_form, first_row: first_row %>
          <% first_row = false %>
        <% end %>
        <div id="links">
          <%= link_to_add_association 'Add Ingredient', form, :ingredients, { id: "btn-outline-sage", class: "btn" } %>
        </div>
      </div>
    </div>

    <div id="form-instructions" class="my-4">
      <%= form.label :instructions, { style: "display: block" } %>
      <%= form.text_area :instructions, { class: "form-control" } %>
    </div>

    <div id="form-notes" class="my-4">
      <%= form.label :notes, { style: "display: block" } %>
      <%= form.text_area :notes, { class: "form-control" } %>
    </div>

    <div id="form-submit" class="my-4">
      <%= form.submit class: "btn", id: "btn-primary-sage" %>
    </div>
  <% end %>
</div>