<div id="recipe-form" class="my-4">
  <%= form_with(model: recipe) do |form| %>
    <% if recipe.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <% if recipe.cover_image.present? %>
        <div id="<%= dom_id(recipe, :cover_image) %>">
          <%= image_tag recipe.cover_image, {class: "img-fluid", style: "max-width: 20%;"} %><br>
          <%= link_to "Remove image", recipe_cover_image_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
      <%= form.file_field :cover_image %>
    </div>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :servings, style: "display: block" %>
      <%= form.text_field :servings %>
    </div>

    <div id="ingredients">
      <%= form.fields_for :ingredients do |ingredient_form| %>
        <%= render "ingredient_fields", f: ingredient_form %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Ingredient', form, :ingredients %>
      </div>
    </div>

    <div>
      <%= form.label :instructions, style: "display: block" %>
      <%= form.text_area :instructions %>
    </div>

    <div>
      <%= form.label :notes, style: "display: block" %>
      <%= form.text_area :notes %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>