<% first_row = false unless local_assigns.has_key?(:first_row) %> <%# Necessary when using cocoon %>
<div id="ingredient-fields" class="nested-fields my-2">
  <div class="row">
    <div class="col-10">  <%# Holds ingredient fields %>
      <div class="row">
        <div class="col-4 w-25">
          <% if first_row %><div class="row"><%= f.label :quantity %></div><% end %>
          <div class="row"><%= f.number_field :quantity, placeholder: "64" %></div>
        </div>
        <div class="col-4 w-25">
          <% if first_row %><div class="row"><%= f.label :measure %></div><% end %>
          <div class="row"><%= f.text_field :measure, placeholder: "grams" %></div>
        </div>
        <div class="col-4 w-50">
          <% if first_row %><div class="row"><%= f.label :name %></div><% end %>
          <div class="row"><%= f.text_field :name, placeholder: "rice" %></div>
        </div>
      </div>
    </div>
    <div class="col-2 d-flex align-items-bottom">  <%# Holds only Delete button %>
      <div class="row mx-auto mt-auto">
        <%= link_to_remove_association "Delete", f, { class: "btn btn-outline-danger py-0" } %>
      </div>
    </div>
  </div>
</div>