<div id="<%= dom_id recipe %>">
  <h1><%= recipe.title %></h1>
  <hr>
  <div id="recipe-body" class="pt-4">
    <div class="row">
      <div class="col">
          <h3>Description</h3>
          <%= simple_format(recipe.description) %>

          Makes <strong><%= recipe.servings %></strong> servings.

          <strong>Instructions:</strong>
          <%= recipe.instructions %>

          <strong>Notes:</strong>
          <%= recipe.notes %>
      </div>
      <div class="col">
        <div class="sticky-top" style="top: 3em">
          <h3>Ingredients</h3>
          <ul>
            <% recipe.ingredients.each do |i| %>
              <li><%= i.quantity %> <%= i.measure %> <%= i.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
