<h1>Your Recipe Shelf</h1>

<div id="recipe-control-panel" class="mb-2">
  <%= link_to "New recipe", new_recipe_path %>
</div>

<div id="recipes">
  <% if current_user.recipes.any? %>
    <ul>
      <% current_user.recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="m-0">No recipes yet - add one now!</p>
  <% end %>
</div>

<div id="user-control-panel">
  <br>
  <% if user_signed_in? %>
    <%= link_to "Profile", edit_user_registration_path %><br>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %><br>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</div>