<nav id="sitewide-navbar" class="navbar navbar-expand-lg">
    <div class="container-fluid mx-4">
        <%= link_to "Food Sage", root_path, {class: "navbar-brand nav-link"} %>
        <% if user_signed_in? %>
            <div class="navbar-collapse">  <%# Left-aligned items %>
                <div class="navbar-nav mr-auto">
                    <%= link_to "Recipe Shelf", recipes_path, {class: "nav-item nav-link"} %>
                </div>
            </div>
            <div class="navbar-collapse justify-content-end"> <%# Right-aligned items %>
                <%= link_to "Profile", edit_user_registration_path, {class: "nav-item nav-link px-4"} %>
                <%= button_to "Log out", destroy_user_session_path, {
                            method: :delete,
                            class: "btn btn-link p-0",
                            style: "text-decoration: none; text-align: center; margin-left: 0.5em; color: #202d34;"
                        } %>
            </div>
        <% else %>
            <div class="navbar-collapse justify-content-end"> <%# Right-aligned items %>
                <%= link_to "Sign Up", new_user_registration_path, {class: "nav-item nav-link px-4"} %>
                <%= link_to "Log In", new_user_session_path, {
                            class: "nav-item nav-link",
                            # style: "margin-left: 0.5em;"
                        } %>
            </div>
        <% end %>
    </div>
</nav>